/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    overflow: hidden;
}

.navbar-inverse {
    background: transparent linear-gradient(92deg, #6F0902 0%, #AF3E02 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    padding: 4px 10px 6px 5px;
}

.container {
    max-width: 100% !important
}

.menu .hamburger {
    background: black;
    padding: 5px 8px;
    border-radius: 5px;
    position: absolute;
    top: 75px;
    right: 15px;
    z-index: 100;
    cursor: pointer;
    padding-top: 2px;
}


    .menu .hamburger img {
        width: 14px;
    }

.menu-items li {
    float: left;
    background: #AE3D02 0% 0% no-repeat padding-box;
    box-shadow: 3px 6px 9px #00000029;
    opacity: 1;
    padding: 12px;
    margin: 10px;
    border-radius: 50%;
    list-style: none;
    cursor: pointer;
    height: 44px;
    width: 45px;
}

.d-block {
    visibility: visible !important;
    opacity: 1 !important;
}

.menu-items li img {
    width: 20px;
    height: 20px;
    margin-top: -8px;
}

.menu-items {
    left: 25%;
    right: auto;
    width: fit-content;
    z-index: 100;
    position: absolute;
    top: 65px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#map-container {
    background: #dddddd;
    height: 100vh;
    width: 100vw;
    display: block;
    /*position: absolute;*/
}

#map-container_zoom_slider {
    bottom: 60px !important
}

.layers-ddl {
    position: absolute;
    left: 20px;
    top: 75px;
    z-index: 100;
    box-shadow: black 0px 1px 3px;
}

#BasemapToggle {
    position: absolute;
    left: 20px;
    top: 110px;
    z-index: 99;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 4.355em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.btn-secondary, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle, .btn-secondary:hover {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
    width: 218px;
    text-align: left;
    outline: none;
    box-shadow: none !important;
    font-weight: bold;
    font-size: 0.9em;
    padding: 4px 14px;
    border-radius: 4px;
}

.dropdown-menu {
    width: 218px;
}

.layers-list li {
    display: flex;
    flex-wrap: nowrap;
    height: 28px;
}

.layers-list .icon {
}

.layers-list .toggle-btn {
}

.layers-list .title {
    width: 350px;
}

.layers-list .icon img {
    width: 14px;
    height: 14px;
    margin: 0px 5px;
    margin-top: -3px;
}

.layers-list {
    list-style: none;
    margin: 0px -31px
}

/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

    *:focus {
        outline: none;
    }

#app-cover {
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}


.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    box-sizing: border-box;
}


.button-coverx, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 7px;
    width: 30px;
    height: 14px;
    overflow: hidden;
}

    .button.r, .button.r .layer {
        border-radius: 100px;
    }

    .button.b2 {
        border-radius: 2px;
    }

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: grey;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
    content: ' ';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 11px;
    height: -18px;
    color: #fff;
    font-size: -6px;
    font-weight: bold;
    text-align: center;
    /* line-height: 1; */
    padding: 6px 4px;
    background-color: #f2eded;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
    left: 18px;
    background-color: #f2eded;
}

#button-1 .checkbox:checked ~ .layer {
    background-color: #17e18d;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer {
    transition: 0.3s ease all;
}

.hotel-popup th {
    text-align: center;
}

.popup {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 430px;
    z-index: 100;
    background: white;
    box-shadow: #898989 0px 0px 9px 3px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 445px;
    background: #AE3D02;
    color: white;
}

    .popup .title {
        width: 100%;
        /* height: 20px; */
        background: black;
        color: white;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        border-radius: 0px 0px 15px 15px;
    }

    .popup .content {
        overflow:hidden;
        max-height: 355px;
    }

button.viewbtn {
    border: none;
    background: #FF9D00;
    color: white;
    border-radius: 8px;
    font-size: .8em;
    padding: 6px;
    font-weight: bold;
}

.salah-popup .content {
    padding: 20px;
    background: transparent url('../images/islam.png') 0% 0% no-repeat padding-box;
    color: white;
    background-size: cover;
}

.salah-popup {
    background: #811802;
    width: 430px;
}

    .salah-popup .row {
        margin-bottom: 15px;
    }

    .salah-popup .salahname {
        font-weight: bold;
        margin: 0px 7px;
    }

    .salah-popup .icon img {
        height: 17px;
    }

    .salah-popup .icon {
        width: 20px;
        display: inline-block;
        text-align: center;
    }


.card-header button:after {
    font-family: 'Glyphicons Halflings';
    content: "";
    float: right;
    color: grey;
}

.hotel-popup thead tr {
    background: #AE3D02;
}

.hotel-popup tr {
    background: #811802;
    border-bottom: 9px solid #AE3D02;
    color: white;
}

.panel-heading button.collapsed:after {
    content: "";
}

.emergency-popup .content {
    padding: 13px;
   
}

.emergency-popup{
     background: #9C3600;
    color: white;
}

.busroute-popup .content {
    padding: 5px;
}

.card-header {
    padding: 0px;
    background: #811802;
    border-radius: 5px 5px 0px 0px !important;
    opacity: 1;    
}

.card {
    margin-bottom: 6px;
}

.busroute-popup .btn-link, .poi-popup .btn-link {
    color: white;
}

.poi-popup .card {
    margin-bottom: 6px;
    border: 1px solid #811802;
    border-radius: 6px 6px 0px 0px;
}

    .busroute-popup .btn-link:hover, .btn-link:focus, .btn-link.focus, .poi-popup .btn-link:hover {
        color: white;
        text-decoration: none;
    }

ul.bus-stops li:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

ul.bus-stops li {
    float: left;
    list-style: none;
    padding: 0px 7px;
    /* content: 'x'; */
}

ul.bus-stops {
    display: inline-flex;
    padding: 0px;
}

.busroute-popup .card-body, .poi-popup .card-body {
    background: #AE3D02;
}

.busroute-popup .icon img {
    height: 17px;
    margin-right: 3px;
}

.busroute-popup .viewbtn {
    float: right;
}

.busroute-popup{
    background:white;
}

ul.bus-stops li:last-child::after {
    content: ' '
}

span.close-btn {
    float: left;
    cursor: pointer;
}

.popup table {
    margin-bottom: 0px;
}


.currency-popup {
    background: #811802;
    width: 500px;
}

    .currency-popup .content {
        padding: 10px
    }

        .currency-popup .content > .row {
            height: 150px;
            display: flex;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            margin: auto;
            color: white;
        }


            .currency-popup .content > .row:first-child {
                border-bottom: 1px solid #FFFFFF;
            }

.pricecalc {
    padding-top: 25px;
}

.weather-popup {
    background: #811802;
    color: white;
}

    .weather-popup .content {
        padding: 30px;
    }

    .weather-popup img {
        height: 30px;
    }

    .weather-popup .content div {
        text-align: center;
    }



.taxi-popup tr {
    background: #811802;
    border-bottom: 5px solid #AE3D02;
    color: white;
}


    .taxi-popup thead tr {
        background: #AE3D02;
    }



.popup.weather-popup .content .col-4 {
    padding: 11px;
    font-size: .8em;
}

.degtempimage img {
    height: 63px;
    border-left: 1px solid white;
    padding-left: 20px;
}
.weather-popup .row {
    background: #AE3D02;
}
    .weather-popup .row:nth-child(1) {
        background: #811802;
    }

.weather-popup .degree {
    text-align: left !important;
    font-size: 2em;
    font-weight: bold;
}

.weather-popup .temperature {
    text-align: left !important;
}

.taxi-popup {
    background: #AE3D02;
    text-align: center
}

.rules-popup {
    
    color: white;
}

    .rules-popup .content {
        padding: 15px;
    }

.rule-item img {
    float: right;
    height: 13px;
    margin-top: 7px;
}

.rule-item div:first-child {
    border-bottom: 1px solid;
}

.rule-item div:nth-child(2) {
    background: #811802;
}
.rule-item {
    margin-bottom: 12px;
}

.history-popup {
    background: #811802;
    color: white;
}

    .history-popup .content {
        padding: 15px;
        font-size: .6em;
    }

    .history-popup img {
        width: 100%;
    }

.center {
    display: flex;
    align-items: center;
}

.locale-switcher {
    cursor: pointer;
}


.news-popup {
    background: #811802;
}

    .news-popup .content, .poi-popup .content, .gallery-popup .content, .info-popup .content {
        padding: 15px;
    }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #811802;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 0px;
    font-weight: bold;
    height: 36px;
    padding: 6px;
}

.image-gallery .row div {
    margin: 0px -15px;
    min-width: 130px;
}

.image-gallery {
    margin-left: 15px;
}

    .image-gallery img {
        width: 100%;
    }
.datestamp {
    font-size: .9em;
    text-align: center;
    margin-top: 5px;
}

.nav-tabs .nav-link {
    background: #A75E4E 0% 0% no-repeat padding-box;
    color: white;
    font-weight: bold;
    border-radius: 0px;
    border: 1px;
    height: 36px;
    padding: 6px;
}

.emergency-items .row .col-6:nth-child(2) {
    text-align: right;
}

.poi-items {
    background: #811802;
    margin-bottom: 10px;
    padding: 3px 10px;
}

.news-item .col-8 {
    margin-left: -10px;
}

.news-item img {
    width: 100%;
    border-radius: 10px;
}

.news-popup .tab-pane {
    height: 300px;
}

.news-item {
    font-size: .8em;
    color: white;
    border-bottom: 1px solid;
    padding: 15px 0px;
}

    .news-item h1 {
        font-size: 1.3em;
    }

.emergency-items .row {
    background: #811802;
    margin: 4px 0px;
}

.emergency-popup .item-title {
    border-bottom: 1px solid white;
    margin: 12px 0px;
}

    .emergency-popup .item-title img {
        height: 12px;
        margin-top: -2px;
    }

.ar .menu-items li {
    float: right;
}

.ar .popup {
    position: absolute;
    top: 200px;
    right: unset;
    left: 50px
}

.ar .layers-ddl {
    position: absolute;
    left: unset;
    right: 20px;
    
}

.ar #BasemapToggle {
    position: absolute;
    left: unset;
    right: 20px;
    z-index: 99;
}

.ar .menu .hamburger {
    background: black;
    padding: 5px 8px;
    border-radius: 5px;
    position: absolute;
    top: 75px;
    right: unset;
    left: 15px;
}

.ar .layers-list .title {
    width: 350px;
    text-align: right;
}

.ar span.close-btn {
    float: right;
    cursor: pointer;
}

.ar .item-title {
    text-align: right;
}
.ar .emergency-items .row .col-6:nth-child(2) {
    text-align: left;
}

.ar .emergency-items {
    text-align: right;
}

    